@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --z-index-main-header: 700;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #fafafa;
}

.sticky-header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-index-main-header);
    background-color: black;
}

.top-navigation-wrap {
    width: 100px;
}

.logo {
    font-size: 25px;
    color: #fff;
}

.top-navigation-main {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

a {
    text-decoration: none;
}

.link a {
    position: relative;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.container-top {
    display: flex;
    height: 8vh;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1600px;
}

.container-top {
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding: 0 20px;
}

.homepage {
    min-height: 100vh;
    overflow: hidden;
}

.bg-font {
    position: absolute;
    left: 460px;
    top: 85px;
}

.hero-container {
    height: 700px;
    width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    background-color: #00cd52e0;
    margin-top: 350px;
}

.hero-container:hover {
    box-shadow: 0 15px rgba(0, 0, 0, 0.8);
}

.hero-imge {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #00cd52e0;
}

.hero-imge-phone {
    position: absolute;
    left: calc(50% + 230px);
    top: 370px;
}

.hero-text {
    font-size: 37px;
    padding-top: 80px;
    width: calc(50% + 0px);
    color: #fafafa;
}

.btn {
    align-items: center;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 30px;
    font-weight: 450;
    height: 75px;
    width: 500px;
    justify-content: center;
    line-height: 28px;
    margin-top: 190px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
}

.fwd {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.fwd:hover {
    color: #00cd52e0;
}

.fwd:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 12px;
    right: -33px;
    top: 6px;
    position: absolute;
    width: 20px;
    mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 12"><path d="M19.7 6c0 .5-.4.9-.9.9H1.3c-.6 0-1-.4-1-.9s.4-.9.9-.9h17.5c.6 0 1 .4 1 .9"/><path d="M19.4 5.3c.4.4.4 1 0 1.3l-5 5c-.4.4-1 .4-1.3 0-.4-.4-.4-1 0-1.3l5-5c.4-.3.9-.3 1.3 0"/><path d="M19.4 6.7c-.4.4-1 .4-1.3 0l-5-5c-.4-.4-.4-1 0-1.3.4-.4 1-.4 1.3 0l5 5c.4.3.4.9 0 1.3"/></svg>');
}

.download {
    background-color: #fafbfc;
    text-align: center;
    height: 65vh;
}

.container-download {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 120px;
}

.download-text1 {
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
    margin: 12px auto 34px
}

.download-text2 {
    font-size: 25px;
    margin-top: 50px;
    margin: 12px auto 34px;
    max-width: 1100px;
    color: #29282881;
}

.download-bottom {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.download-bottom-item {
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
    font-size: 35px;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 0 20px;
    width: 100%;
}

.btn2 {
    align-items: center;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 20px;
    font-weight: 450;
    height: 60px;
    width: 300px;
    justify-content: center;
    line-height: 28px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    background-color: black;
    color: #fff;
}

.btn2:hover {
    background-color: #292828;
}

.btn2-imge {
    margin: -4px -10px 0 8px
}

.stars {
    margin-top: 20px;
}

.img-container {
    margin-top: 50px;
}

.p {
    margin-top: 30px;
    color: #29282881;
}

.homepage-bottom {
    background-color: #00cd52e0;
    height: 90vh;
}

.homepage-arrow {
    left: 2150px;
    top: 2850px;
}

.homepage-bottom-container {
    height: 1223px;
    width: 1600px;
}

.phones-text {
    padding-top: 50px;
    width: max-content;
}

.phones-text1 {
    color: #fafafa;
    font-size: 28px;
    line-height: 40px;
}

.phones-text2 {
    color: #fafafac4;
    font-size: 25px;
    line-height: 40px;
}

.container-phones {
    padding-top: 50px;
    padding-left: 80px;
}

.phones2 {
    position: absolute;
    margin-top: 50px;
}

.footer {
    width: 100%;
    background-color: black;
}

.footer-container {
    height: 220px;
    display: flex;
    padding: 60px 32px;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.navigation-logo {
    color: #fafafa;
    font-size: 25px;
    width: 100px;
}

.level-entry {
    color: #fafafa;
    padding: 10px 40px;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#4D9C41),
            to(#19911D),
            color-stop(.6, #54DE5D))
}